@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@model SalesTracker.Models.SalesAssociate

<h2>Hire new sales associate.</h2>

<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Create" />
}

@Html.ActionLink("Back to List", "Index")